:root {
    --card_width: 17vw;
    --card_height: calc(var(--card_width) * 1.5);
    --card_border_radius: calc(var(--card_width) / 20);
    --card_content_offset: calc(var(--card_width) / 20);
    --card_name_height: calc(var(--card_height) / 5);
    --card_name_fontsize: calc(var(--card_name_height) / 2);
}

/* Funny btn coloring */

.btn {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(130%);
}

.btn:active {
    filter: brightness(80%);
}

.red {
    background-color: rgb(255, 77, 77);
}

.blue {
    background-color: rgb(97, 182, 251);
}

.green {
    background-color: rgb(40, 254, 79);
}

/* BOARD */

.board_row {
    display: flex;
    float: left;
}

.board_grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    /* grid-gap: 0.5rem; */
}

.board_grid_4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    /* grid-gap: 0.5rem; */
}

.board_grid_5 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    /* grid-gap: 0.5rem; */
}

/* CARD */

.card_cont {
    width: var(--card_width);
    height: var(--card_height);
    border-radius: var(--card_border_radius);
    background: red;
    overflow: hidden;
    /* box-shadow: inset 0px 0px 0px 1px #000000, inset 0px 0px 0px 4px #ffffff, inset 0px 0px 0px 5px #000000; */
    box-shadow: 0px 0px 0px 1px #000000, 0px 0px 0px 4px #ffffff, 0px 0px 0px 5px #000000;
    margin: 10px 5px 10px 5px;
}

.card_front_img {
    width: calc(var(--card_width) - var(--card_content_offset));
    height: calc(var(--card_width) - var(--card_content_offset));
    /* margin-top: 10px; */
    /* background-color: bisque; */
    justify-self: center;
    margin: auto;
}

.card_front_imgback {
    background-color: #ffffff;
    border-radius: 100%;
    width: calc(var(--card_width) - var(--card_content_offset));
    height: calc(var(--card_width) - var(--card_content_offset));
    justify-self: center;
    margin-top: var(--card_content_offset);
    margin-left: auto;
    margin-right: auto;
}

.card_front_name {
    width: calc(var(--card_width) - var(--card_content_offset));
    height: var(--card_name_height);
    background-color: #ffffff;
    justify-self: center;
    font-size: var(--card_name_fontsize);
    text-align: center;
    align-content: center;
    margin: calc(var(--card_content_offset) * 1.8) auto auto auto;
}