:root {
    --card_width: 210px;
    --card_height: 310px;
}

/* Funny btn coloring */

.btn {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(130%);
}

.btn:active {
    filter: brightness(80%);
}

.red {
    background-color: rgb(255, 77, 77);
}

.blue {
    background-color: rgb(97, 182, 251);
}

.green {
    background-color: rgb(40, 254, 79);
}

/* BOARD */

.board_row {
    display: flex;
    float: left;
}

/* CARD */

.card_cont {
    width: var(--card_width);
    height: var(--card_height);
    border-radius: 10px;
    background: red;
    overflow: hidden;
    /* box-shadow: inset 0px 0px 0px 1px #000000, inset 0px 0px 0px 4px #ffffff, inset 0px 0px 0px 5px #000000; */
    box-shadow: 0px 0px 0px 1px #000000, 0px 0px 0px 4px #ffffff, 0px 0px 0px 5px #000000;
    margin: 10px 5px 10px 5px;
}

.card_front_img {
    width: calc(var(--card_width) - 20px);
    height: calc(var(--card_width) - 20px);
    /* margin-top: 10px; */
    /* background-color: bisque; */
    justify-self: center;
    margin: auto;
}

.card_front_imgback {
    background-color: #ffffff;
    border-radius: 100%;
    width: calc(var(--card_width) - 20px);
    height: calc(var(--card_width) - 20px);
    justify-self: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card_front_name {
    width: calc(var(--card_width) - 20px);
    height: 60px;
    background-color: #ffffff;
    justify-self: center;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin: 20px auto auto auto;
}